:root {
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-brand-white: #fff;
  --color-primary-dark: #4a4a4a;
  --color-primary-light: #747272;
  --color-primary-blue: #011f4a;
  --color-primary-yellow: #ffd02b;
}
