.advantages-title {
  text-align: center;
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 48px;
}

.advantages-item {
  color: var(--color-brand-light);
}

.advantages-container {
  display: flex;
  gap: 56px;
  justify-content: space-between;
}

.advantages-part {
  width: 315px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
}

.advantages-part {
  /* width: 252px;
  height: 72px; */
  padding: 24px 32px;
  text-align: center;
}

.advantages-text {
  padding-top: 8px;
  margin-bottom: 0;
  width: 252px;
}
