.button {
  color: var(--color-brand-white);
  background-color: var(--color-brand-light);
  font-size: 18px;
  font-weight: 600;
  border-radius: 32px;
  padding: 16px 32px;
  border: 2px solid var(--color-brand-light);
  cursor: pointer;
  margin-bottom: 14px;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}
